// ------------- main ------------- //

.container {

  &__main {
    text-align: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-primary;

    // @media(max-width: 900px) {
    //   padding: 5rem 0;
    // }
  }

  &__chat {
    &--nav {
      background-color: $color-secondary;
      height: 7rem;
      @include fadeInAnimated($delay: 0s)
    }
  }

  &__nav {
    &--users {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 0.5rem 0;
    }

    &--user-icons {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

// ------------- login ------------- //

.login {
  &__container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-primary;
  }
}

// ------------- chat ------------- //

.chat {
  &__container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $color-primary;
  }
}

.msgs {
  &__container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 1rem;
  }
}

.msg {
  &__container {
    &--self, &--other {
      // margin: 0.25rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    &--self {
      align-self: flex-end;
      margin-right: 0.5rem;
    }
  
    &--other {
      align-self: flex-start;
      margin-left: 0.5rem;
    }

    &--header-self {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      width: 100%;
      margin-right: 8px;
    }

    &--header-other {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      width: 100%;
      margin-left: 8px;
    }
  }

  &__input {
    &--container {
      display: flex;
      height: 3.75rem;
      width: 100%;
      overflow: scroll;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      border-radius: 1rem;
      height: 15rem;
      position: relative;
      @include fadeInAnimated($delay: 0s)

    }
  }
}

.inputs {
  &__container {
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-template-rows: repeat(2, 3.25rem);
    width: 90%;
    margin: auto;
    align-items: center;
    margin-top: 1.5rem;
  }
}