// ---------------------- main ---------------------- //

.container {

  &__main {
    @include heightWidth100($height: 100vh, $width: 100vw);
    @include flexCenterCenter();
    background: $color-primary;
    text-align: center;
    position: relative;
  }

  &__chat {
    &--nav {
      @include fadeInAnimated($delay: .1s);
      background-color: $color-secondary;
      height: 7rem;
    }
  }

  &__nav {
    &--users {
      @include flexCenterCenter($flex-direction: column);
      @include heightWidth100();
      padding: 0.5rem 0;
    }

    &--user-icons {
      @include flexCenterCenter();
      @include heightWidth100();
    }
  }
}

// ---------------------- login ---------------------- //

.login {
  &__container {
    @include heightWidth100($height: 100vh, $width: 100vw);
    @include flexCenterCenter($flex-direction: column);
    background-color: $color-primary;
  }
}

// ---------------------- chat ---------------------- //

.chat {
  &__container {
    @include heightWidth100($height: 100vh, $width: 100vw);
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}

.msgs {
  &__container {
    @include heightWidth100();
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 1rem;
  }
}

.msg {
  &__container {
    &--self, &--other {
      @include flexCenterCenter($flex-direction: column);
    }
  
    &--self {
      align-self: flex-end;
      margin-right: 0.5rem;
    }
  
    &--other {
      align-self: flex-start;
      margin-left: 0.5rem;
    }

    &--header-self, &--header-other {
      display: flex;
      align-items: baseline;
      vertical-align: middle;
      width: 100%;
    }
    &--header-self {
      justify-content: flex-end;
      margin-right: 8px;
    }

    &--header-other {
      justify-content: flex-start;
      margin-left: 8px;
    }
  }

  &__input {
    &--container {
      @include fadeInAnimated($delay: 0s);
      @include flexCenterCenter();
      height: 3.75rem;
      width: 100%;
      overflow: scroll;
      margin: 0 auto;
      border-radius: 1rem;
      height: 15rem;
      position: relative;
      height: min-content;
    }
  }
}

.inputs {
  &__container {
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-template-rows: repeat(2, 3.25rem);
    width: 90%;
    margin: auto;
    align-items: center;
    margin-top: 1.5rem;
  }
}