// ---------------------- main ---------------------- //

.main {
  &__container {
    @include flexCenterCenter();
    background: var(--color-primary);
    width: 100%;
    min-height: 100vh;
    text-align: center;
    position: relative;
  }
}

// ---------------------- nav ---------------------- //

.nav {
  &__container {
    @include flexCenterCenter($align-items: center, $justify-content: space-around);
    @include fadeInAnimated($delay: .1s);
    background-color: var(--color-secondary);
    height: 7rem;

    &--users {
      @include flexCenterCenter($flex-direction: column);
      @include heightWidth100();
      padding: 0.5rem 0;
    }

    &--user-info {
      @include flexCenterCenter($flex-direction: column);
      @include heightWidth100();
      padding: 0.5rem 0;
    }

    &--details {
      @include flexCenterCenter();
      position: relative;
    }

    &--details[open] .icon__right {
      transform: rotate(90deg);
    }

    &--details:focus {
      outline: none
    }
  }
}

// ---------------------- login ---------------------- //

.login {
  &__container {
    @include heightWidth100($height: 100vh, $width: 100vw);
    @include flexCenterCenter($flex-direction: column);
    background-color: var(--color-primary);
    position: relative;
  }
}

// ---------------------- chat ---------------------- //

.chat {
  &__container {
    @include heightWidth100($height: 100vh, $width: 100vw);
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    position: relative;
  }
}

// ---------------------- msgs ---------------------- //

.msgs {
  &__container {
    @include heightWidth100();
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 1rem;
    flex: 1;
  }
}

.msg {
  &__container {
    &--self, &--other {
      @include flexCenterCenter($flex-direction: column);
      max-width: 90vw;
    }
  
    &--self {
      align-self: flex-end;
      margin-right: 0.5rem;
    }
  
    &--other {
      align-self: flex-start;
      margin-left: 0.5rem;
    }

    &--header-self, &--header-other {
      display: flex;
      align-items: baseline;
      vertical-align: middle;
      width: 100%;
    }
    &--header-self {
      justify-content: flex-end;
      margin-right: 8px;
    }

    &--header-other {
      justify-content: flex-start;
      margin-left: 8px;
    }

    &--notification {
      @include flexCenterCenter();
      color: var(--color-quaternary);
      margin: 1.25rem;
      padding: 0 0.75rem;
      height: 2.7rem;
      width: max-content;
      align-self: center;
      font-size: 1.5rem;
      text-align:center;
    }
  }

  &__input {
    &--container {
      @include fadeInAnimated($delay: 0.1s);
      @include flexCenterCenter();
      height: 3.75rem;
      width: 100%;
      overflow: scroll;
      border-radius: 1rem;
      height: 15rem;
      position: relative;
      height: min-content;
    }
  }
}

//---------------------- modal ----------------------//

.modal {
	&__container {
		@include flexCenterCenter($flex-direction: column, $justify-content: flex-start, $align-items: flex-start);
    @include heightWidth100();
    height: min-content;
    width: max-content;
    background-color: (var(--color-quaternary));
    border-radius: 3rem;
		opacity: 1;
		transition: opacity 3s;
    position: relative;
    overflow: hidden;
    padding: 3rem;
    
		&.hide {
			opacity: 0;
		}
	
		&--options {
      display: grid;
      gap: 4rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
			width: 100%;
      justify-items: center;
      align-items: center;
		}
	}
}