// ------------- login ------------- //

.login {
  &__header {
    color: $color-quaternary;
    font-size: 7rem;
    margin-bottom: 4.5rem;
    @include fadeInAnimated($delay: 0s);
  }
}

// ------------- msgs ------------- //

// .msg {
//   &__person {
//     &--s
//   }
// }

// ------------- input ------------- //


/* ---------------------- external font family ---------------------- */

@font-face {
  font-family: 'gorditaregular';
  src: url('../../fonts/gordita_regular-webfont.woff2') format('woff2'),
       url('../../fonts/gordita_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}