//----------------------------- colors -----------------------------//

:root {
  --icon-settings-animate: spin 6s linear infinite;
  --color-primary: #080808;
  --color-secondary: #282828;
  --color-tertiary: #989898;
  --color-quaternary: #F0F0F0;
  --color-quintinary: #989898ad;

  --blue: #1c89ff;
  
  --black: #000;
  --white: #fff;
  
  --grey-0: #080808;
  --grey-1: #181818;
  --grey-2: #282828;
  --grey-3: #383838;
  --grey-4: #484848;
  
  --grey-1: #585858;
  --grey-2: #686868;
  --grey-3: #787878;
  --grey-4: #888888;
  --grey-5: #989898;
  
  --grey-6: #D0D0D0;
  --grey-7:#E0E0E0;
  --grey-8:#F0F0F0;
  --grey-9:hsl(0, 0%, 96%);
  
  --blue-1: #005c99;
  --blue-2: #006bb3;
  --blue-3: #007acc;
  --blue-4: #008ae6;
  --blue-5: #0099ff;
  --blue-6: #1aa3ff;
  --blue-7: #33adff;
  --blue-8: #4db8ff;
  --blue-9: #66c2ff;
  --blue-10: #80ccff;
  --blue-11: #99d6ff;
  --blue-12: #b3e0ff;

  --green-1: rgb(39, 170, 39);
  --green-2: rgb(73, 131, 77);
  --green-3: rgb(73, 165, 73);
  --green-4: rgb(95, 255, 95);
  --green-5: rgb(155, 192, 155);
  
  --red-1: #fa625e;
  --red-2: rgba(227, 66, 61, 0.7);
  
  
  --yellow-1: #f5d020;
  --yellow-2: #fbff23;
  --yellow-3: #f4f5c5;
}

// bootstaps btn colors (from https://www.bootdey.com/snippets/view/dark-profile-settings)

    // background-color: #94df4a;
    // border-color: rgba(125, 200, 53, 0.7);

    // background-color: #86d4f5;
    // border-color: rgba(105, 193, 230, 0.7);

    // background-color: #fa625e;
    // border-color: rgba(227, 66, 61, 0.7);