//----------------------------- colors -----------------------------//

:root {
  --icon-settings-animate: spin 6s linear infinite;
  --color-primary: #080808;
  --color-secondary: #282828;
  --color-tertiary: #989898;
  --color-quaternary: #F0F0F0;
  --color-quinary: #989898ad;
  --color-senary: #787878;

  --blue: #1c89ff;
  
  --black: #000;
  --white: #fff;
  
  --red-1: #fa625e;
  --red-2: rgba(227, 66, 61, 0.7);
  
  --yellow: #f5d020;
}