// ---------------------- login ---------------------- //

.login {
  &__btn {
    width: 35rem;
    display: block;
    height: 4rem;
    border-radius: 18px;
    background-color: #1c89ff;
    border: solid 1px transparent;
    color: var(--color-quaternary);
    font-size: 2rem;
    font-weight: 300;
    cursor: pointer;
    margin: 2.5rem auto;
    transition: all 0.1s linear;
    @include fadeInAnimated($delay: 0.1s);


    &:hover {
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(.1px);
    }
  }
}

// ---------------------- chat ---------------------- //

.chat {
  &__btn {
    width: min-content;
    cursor: pointer;
    height: min-content;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1rem;
    background-color: transparent;
    right: 3rem;
    bottom: 2.75rem;
    @include fadeInAnimated($delay: 0.1s);
    background: var(--color-quaternary);
    border-radius: 3rem;
  }
}

.msg {
  &__input {
    &--btn {
      fill: var(--blue);
      transform: scale(1.06);
    }
  }
}

//---------------------- modal ----------------------//

.modal {
  &__btn {
    &--close {
      // @extend %btn;
      @include flexCenterCenter();
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      height: 2.5rem;
      width: 2.5rem;
      line-height: 3.5rem;
      font-size: 1.5rem;
      border-radius: 50%;
      transition: 0.15s;
      cursor: pointer;
      background: none;
      color: var(--color-primary);
      background: var(--red-1);
      border: 1px solid var(--red-2);

      &:hover {
        transition: 0.15s;
      }
    }

    &--theme {
      background: none;
      border: none;
      transform: translateY(3px);
    }
  }
}