// ---------------------- login ---------------------- //

.login {
  &__btn {
    width: 35rem;
    display: block;
    height: 4rem;
    border-radius: 18px;
    background-color: #1c89ff;
    border: solid 1px transparent;
    color: $color-quaternary;
    font-size: 2rem;
    font-weight: 300;
    cursor: pointer;
    margin: 2.5rem auto;
    transition: all 0.1s linear;
    @include fadeInAnimated($delay: 0.1s);


    &:hover {
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(.1px);
    }
  }
}

// ---------------------- chat ---------------------- //

.chat {
  &__btn {
    width: min-content;
    cursor: pointer;
    height: min-content;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1rem;
    background-color: transparent;
    right: 3rem;
    bottom: 2.75rem;
    @include fadeInAnimated($delay: 0.1s);
    background: white;
    border-radius: 3rem;
    border: 1px solid #1c89ff;
  }
}

.icon {
  &__back, &__settings {
    height: 3rem;
    fill: $color-quaternary;
  }
}

.btn {
  &__back, &__settings {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__back {
    margin-left: 2rem;
  }

  &__settings {
    margin-right: 2rem;
  }
}

.msg {
  &__input {
    &--btn {
      fill: $blue;
    }
  }
}