.icon {
  &__back, &__settings, &__circle {
    fill: var(--color-quaternary);
    border: none;
    background-color: transparent;
  }

  &__back, &__settings {
    height: 3rem;
    cursor: pointer;
  }

  &__back {
    margin-left: 2rem;
  }

  &__settings {
    margin-right: 2rem;
    -webkit-animation: spin 6s linear infinite;
    -moz-animation: spin 6s linear infinite;
    animation: spin 6s linear infinite;
  }

  &__circle {
  }

  &__sun, &__moon {
    fill: var(--yellow);
    border: none;
    cursor: pointer;
  }

  &__arrow {
    &--up {
      fill: var(--blue);
      transform: scale(1.06);
    }
  }

  &__right {
    transition: .25s transform ease;
  }
}