.input {

  &__name, &__msg {
    padding: 0 1.25rem;
    border-radius: 1rem;
    font-size: 2rem;
    border: none;
    height: 4rem;
    background-color: var(--color-secondary);
    color: var(--color-quaternary);
    @include fadeInAnimated($delay: .1s);

    &::placeholder {
      color: var(--color-quinary);
    }
  }
  
  &__name {
    width: 35rem;
    margin: 0 auto;
    text-align: center;
  }
  
  &__msg {
    width: 100%;
    margin: 2rem;
    justify-self: flex-start;
  }

  &__name:focus, &__msg:focus {
    outline: none;
  }

  &__label {

    &--name {
      color: var(--white);
      justify-self: flex-start;
    }
  
    &--msg {
      color: var(--white);
      justify-self: flex-start;
      
    }
  }
}