.input {

  &__name, &__msg {
    padding: 0 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    border: none;
    height: 4rem;
    background-color: $color-secondary;
    color: $color-quaternary;
    @include fadeInAnimated($delay: 0s)
  }

  &__name {
    width: 35rem;
    margin: 0 auto;
    // transform: translateY(10rem);
  }
  
  &__msg {
    width: 98%;
    justify-self: flex-start;
  }

  &__label {

    &--name {
      color: white;
      justify-self: flex-start;
    }
  
    &--msg {
      color: white;
      justify-self: flex-start;
      
    }
  }
}