.modal {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.685);
	z-index: 99999999999;
	transition: all 2s;
    display: flex;
  align-items: center;
  justify-content: center;

	&__skills {
		&--item {
      @include flexCenterCenter();
      margin: 0 0.5rem;
		}
	}

  &__input {
    &--1, &--2 {
    }

    &--1 {

    }

    &--2 {

    }
  }
}