.msg {
  &__person {
    &--self, &--other {
      @include flexCenterCenter();
      color: var(--color-quaternary);
      margin: 0.25rem 0;
      padding: 0.5rem 1.25rem;
      border-radius: 2.5rem;
      min-height: 3.7rem;
      font-size: 1.8rem;
      flex-wrap: wrap;
      overflow: scroll;
      max-width: 100%;
      word-break: break-word;
    }
  
    &--self {
      background-color: var(--blue);
      align-self: flex-end;
      text-align: end;
    }
  
    &--other {
      background-color: var(--color-senary);
      align-self: flex-start;
      text-align: start;
    }
  }

  &__time {
    height: min-content;
    margin-bottom: 1.1px;
  }

  &__name {
    margin-right: 0.5rem;
    font-weight: bold;
    font-size: 1.4rem;
  }

  &__notification {
    &--msg {
      font-size: 1.6rem;
      font-weight: bold;
      margin-right: 0.5rem;
      margin-bottom: 0.3rem;
    }
    &--time {
      font-size: 1.4rem;
    }
  }
}