details {
  display: flex;
  align-items: center;
  justify-content:center;
}

details > summary {
  white-space: pre;
  list-style: none;
  cursor: pointer;
}
summary::-webkit-details-marker {
  display: none
}

summary::after {
  content: '  ►';
  cursor: pointer;
}

details[open] summary:after {
  content: "  ▼";
  cursor: pointer;
}