.nav {
  &__details {
    &--summary {
      white-space: pre;
      list-style: none;
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    &--summary:focus {
      outline: none
    }

    &--summary::-webkit-details-marker {
      display: none
    }

    &--summary::after {
      // content: '  \2192';
      font-weight: bold;
      cursor: pointer;
      display: inline-block;
    }

    &--users {
      position: absolute;
      width: max-content;
      padding: 1rem;
      background-color: var(--color-secondary);
      color: var(--blue);
      font-size: 2.0rem;
      border-radius: 1.1rem;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translate(-50%, 1rem);
      opacity: 0.98;
      transition: all 0.1s linear;
      @include fadeInAnimated($delay: 0s);
    }

    &--users::selection {
      background: var(--color-secondary);
    }

    &--num-users {
      margin-right: 4px;
      font-size: 11px;
    }
  }
}