.App {
  text-align: center;
  background-color: rgb(20, 20, 143);
  height: calc(100vh - 10rem);
  width: calc(100vw - 10rem);
  padding: 5rem;
  position: relative;
}

.msg-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  height: 60vh;
  padding: 1rem;
  overflow: scroll;
}

.inputs-container {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: repeat(2, 3.25rem);
  width: 90%;
  margin: auto;
  align-items: center;
  margin-top: 1.5rem;
}

.input-label__name {
  color: white;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  justify-self: flex-start;
}

.input-label__msg {
  color: white;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  justify-self: flex-start;
}

.input__name {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  justify-self: flex-start;
  width: 100%;
}

.input__msg {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  justify-self: flex-start;
  width: 100%;
  resize: none;

}

.btn {
  width: 20rem;
  display: block;
  width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  margin: 2.5rem auto;

}

.msg {
  margin: 0.25rem 0;
  text-align: left;
}