// ------------- login ------------- //

.login {
  &__btn {
    width: 20rem;
    display: block;
    width: 200px;
    height: 36px;
    border-radius: 18px;
    background-color: #1c89ff;
    border: solid 1px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    margin: 2.5rem auto;
    transform: translateY(10rem);
  }
}

// ------------- chat ------------- //

.chat {
  &__btn {
    width: 2rem;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.icon {
  &__back {
    height: 3rem;
  }
}

.btn {
  &__back {
    position: absolute;
    top: 1.75rem;
    left: 1.75rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}