// ------------- login ------------- //

.login {
  &__btn {
    width: 20rem;
    display: block;
    width: 200px;
    height: 36px;
    border-radius: 18px;
    background-color: #1c89ff;
    border: solid 1px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    margin: 2.5rem auto;
  }
}

// ------------- chat ------------- //

.chat {
  &__btn {
    width: 20rem;
    display: block;
    width: 200px;
    height: 100%;
    background-color: #1c89ff;
    border: solid 1px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
  }
}