.input {

  &__name {
    padding: 0 0.5rem;
    height: 3.75rem;
    width: 35rem;
    overflow: scroll;
    justify-content: center;
    margin: 0 auto;
    transform: translateY(10rem);
    border-radius: 1rem;
    border: 1px solid black;
    padding: 0 1rem;
    font-size: 2rem;
    border-radius: 2rem;
    border: none;
  }
  
  &__msg {
    justify-self: flex-start;
    width: 100%;
    padding: 0 1rem;
    font-size: 2rem;
    border-radius: 2rem;
    border: none;
  }

  &__label {

    &--name {
      color: white;
      justify-self: flex-start;
    }
  
    &--msg {
      color: white;
      justify-self: flex-start;
      
    }
  }
}

.msg {
  &__input {
    &--btn {
      fill: #1c89ff;
    }
  }
}