.msg {
  &__person {
    &--self, &--other {
      margin: 0.25rem 0;
      color: white;
      padding: 0 0.75rem;
      border-radius: 1.5rem;
      height: 2.7rem;
      width: max-content;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    &--self {
      background-color: skyblue;
      align-self: flex-end;
    }
  
    &--other {
      background-color: grey;
      align-self: flex-start;
    }

    &--notification {
      margin: 0.25rem 0;
      color: black;
      padding: 0 0.75rem;
      height: 2.7rem;
      width: max-content;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
    }
  }
}