.msg {
  &__self {
    margin: 0.25rem 0.5rem;
    align-self: flex-end;
    background-color: skyblue;
    color: white;
    padding: 0 0.75rem;
    border-radius: 1.5rem;
    height: 2.7rem;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  &__other {
    margin: 0.25rem 0.5rem;
    align-self: flex-start;
    background-color: grey;
    color: white;
    padding: 0 0.75rem;
    border-radius: 1.5rem;
    height: 1.8rem;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}